.header_example_phone {
    width: 350px;
    height: 600px;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    margin: auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.screen {
    width: 330px;
    height: 520px;
    background-color: #353535;
    position: absolute;
    top: 25px;
    left: 10px;
    border-radius: 15px;
}

.camera {
    width: 15px;
    height: 15px;
    background-color: #1d1d1d;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    
}

.home-button {
    width: 40px;
    height: 40px;
    background-color: #181818;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}